@using Models

<h3>DeleteGame</h3>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">@title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary"  
                data-bs-dismiss="modal" @onclick="@Cancel">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="@Confirm">Delete</button>
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public Game? Game {get; set; }

    [Parameter]
    public EventCallback<bool> OnClose {get; set; }
    private string title = string.Empty;

        protected override void OnParametersSet()
        {
            title = $"Delete {Game?.Name}?";

        }

        private void Confirm()
        {
            OnClose.InvokeAsync(true);
        }

          private void Cancel()
        {
            OnClose.InvokeAsync(false);
        }
}
